crewai==0.28.8
crewai_tools==0.1.6
faiss-cpu
langchain==0.1.11
langchain_community==0.0.30
feedparser==6.0.8
markdown-it-py==3.0.0
mdurl==0.1.2
pygments==2.19.1
rich==13.7.0
typing-extensions==4.14.0
